body {
    background-color: red;
}

@media screen and (max-width : 450px) {
    body {
        background-color: blue;
    }

    .boxes {
        flex-direction: column;
    }
}

@media screen and (orientation : portrait) {

    body {
        border: 10px solid purple;
        padding: 30px;
    }
}

.boxes {
    display: flex;
}

.box {
    width: 344px;
    height: 344px;
    background-color: steelblue;
    padding: 3px;
    margin: 3px;
}