h1 {
    border-top-style: dashed;
    border-right-style: dotted;
    border-bottom-style: groove;
    border-left-style: dotted;
    border-top-width: 10px;
    border-left-color: blue;
}

p {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    padding: 12px;
}